@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital@1&family=Poppins&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

nav {
  width: 100vw;
  background-color: #111;
  position: fixed;
  padding: 1vw;
  text-align: right; 
  z-index: 9;
}

/*---*/

#myInput {
  background-image: url('/search.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 17px 17px;
  background-color: #2c2b2b;
  width: 73%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid transparent; /* Add a grey border */
  border-radius: 5px;
  margin-bottom: 12px; /* Add some space below the input */
  margin-top: 12px;
  font-family: "Lato", sans-serif;
  color: white;
}

#myInput::selection {
  background-color: yellow !important;
  color: black;
  padding: 1px;
  border-radius: 2px;
}

#myInput:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-offset: 0px;
}

.input {
  margin: auto;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#myUL li a {
/*  border: 1px solid #555; /* Add a border to all links */*/
  border: none;
  margin-top: -1px; /* Prevent double borders */
  background-color: #2c2b2b; /* Grey background color */
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: white; 
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #666; /* Add a hover effect to all links, except for headers */
  color: black;
}

/*---*/

.contactimg {
  filter: invert(0.5);
  width: 60px;
  padding: 20px;
  padding-top: 25px;
  transition: 0.4s;
}

.contactimg:hover {
  filter: invert(1);
}

nav a {
  padding: 1vw;
  color: #777;
  transition: 0.3s;
  font-family: "Lato", sans-serif;
}

.last {
  padding-right: 2vw;
}

nav a:hover {
  color: white;
}

body {
    margin:0;
    margin-bottom:0px;
    background: #111;
}

body:hover {
  cursor: default;
}

::selection {
  background-color: transparent;
}

h1 {
	color: grey;
  font-size: 6rem;
  text-align: center;
  margin-block-end:0em;
  margin-block-start:40vh;
}

.me {
  font-family: 'Raleway', sans-serif;
}

.home .me {
  color: #111;
}

.next {
  font-family: 'Raleway', sans-serif;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 30vw;
  margin: auto;
  background-color: #1b1a1a;
  border-radius: 15px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.next h2 {
  font-size: 3rem;
  transform: translate(0, -50%);
  color: lightgrey;
  transition: 0.2s;
}

.next small {
  text-transform: uppercase;
  color: lightgrey;
}

.next img {
  filter: invert(1);
  transition: 0.2s;
  height: 100px;
  align-items: center;
}


.next:hover h2 {
  font-size: 3.2rem;
}

.next:hover img {
  transform: translate(9px);
}

.info {
  display: flex;
  font-family: "Lato", sans-serif;
  width: 65vw;
  background-color: #2196f3;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 0vw;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.info p {
  padding-left: 20px;
  color: black !important;
}

.info img {
  height: 30px;
  filter: invert(0.1);
}


.title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  text-align: center;
  font-style:italic;
  margin-block-start:0em;
  color: #CC5A2A;
}

.titledesc {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  margin-block-start: 0em;
  color: #3176be;
}

.gif {
  width: 65vw;
  margin-left: 17.5vw;
  margin-right: 17.5vw;
  border-radius: 8px;
  margin-top: 1vw;
}

@media screen and (min-width: 740px)  {
  .mobile-break { display: none; }
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.link {
  margin-block-end: 0em;
  font-weight: 200em;
  font-family:'Lato', monospace;
  color: lightgrey;
}

a {
  text-decoration:none;
  color: orange;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
}

.card {
  background-color: #1b1a1a;
  padding: 2vh;
  width: 65vw;
  margin: auto;
  margin-top: 1vw;
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;
}


a .card:hover {
  background-color: #201f1f;
}

footer {
  background-color: #111;
  color: white;
  width: 100%;
  margin: 0 !important;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


#footerbody {
  padding: 5px;
}







h3 {
  font-size: 55px !important;
}

.desc{
  font-size:2em;
  padding-right:2em;
  font-stretch:condensed;
  /* font-family: 'Rubik', sans-serif; */
  padding-left:2em;
  font-family: 'Lora', serif;
  font-style: italic;
}

em {
  font-style: normal !important;
}


td {
}

p {
	color: lightgrey;
}

table {
  border-spacing: 0px;
}

.top { 
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #111;
  height:92vh;
}

.home .top {
  background: url(/paint3.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px 0;
}

.emoji {
  font-style: normal;
}

.arrow {
  position: absolute;
  z-index: 8;
  top: 87%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(10px,10px);
  }
}



.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #bbbbbb;
  border-right: 5px solid #bbbbbb;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1s infinite;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: fixed;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#contactdesc {
  margin-top: 0;
}

@media (max-width: 740px) {
  .next {
    width: 70vw;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  td {
    border: none;
    position: relative;
    white-space: normal;
  }
  .card {
    width: 90vw;
    margin-top: 2vw;
  }
  .info {
    margin-bottom: -1vw;
  }
  .info {
    width: 90vw;
  }
  .gif {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  nav {
    text-align: center;
  }
  .mobile-break { display: block; }
  .hom {
    display: none;
  }
  #up .me {
    font-size: 4rem;
  }
}

@media (pointer: coarse) {
 .desc {
    font-size: 4em;
    font-style: italic;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .card {
    width: 86vw;
    margin-top: 2vw;
  }
  .info {
    width: 86vw;
  }
  .gif {
    width: 86vw;
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .me {
    font-size: 12rem;
    font-family: "Lato", monospace;
    font-weight: 700;
    line-height: 80%;
    vertical-align: middle;
  }
  .link {
    font-size: 10vw !important;
    font-weight: 700;
  }
  .title {
    font-size: 8rem;
    font-family: "Lato", monospace;
    font-weight: 700;
    vertical-align: middle;
  }
  footer {
    font-size: 30px;
  }
  .top {
    background-position: right;
    background-image: none;
    align-items: center;
    justify-content: center;
    height: 93vh;
  }
  .arrow span {
    width: 60px;
    height: 60px;
    border-bottom: 10px solid #bbbbbb;
    border-right: 10px solid #bbbbbb;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 1s infinite;
  }
  nav {
    text-align: center;
  }
  nav a {
    font-size: 35px;
  }
  .contactimg {
    width: 150px;
  }
  .hom {
    display: none;
  }
  .mobile-break { display: block; }
  #up .me {
    font-size:10rem;
  }
  .home #up {
    background: url(/paint.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 60vh;
  }
  .info {
    font-size: 35px;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: -1vw;
  }
  .info img {
    height: 60px;
  }
  #myInput {
    font-size: 40px;
    background-size: 40px 40px;
    padding-left: 75px;
  }
  #myUL li a {
    font-size: 40px;
    padding: 16px;
  }
  .next {
    width: 80vw;
  }
}

