#challenge-img {
  background-image: url(device.png);
  background-color: #355c7d;
}

#role-img {
  background-image: url(network.png);
  background-color: #355c7d;
}

#role-img-2 {
  background-image: url(network.png);
  background-color: #355c7d;
}

#results-img {
  background-image: url(website.png);
  background-color: #355c7d;

}
