#challenge-img {
  background-image: url(science.png);
  background-color: #355c7d;
}

#role-img {
  background-image: url(logodesign.png);
  background-color: #355c7d;
}

#role-img-2 {
  background-image: url(logodesign.png);
  background-color: #355c7d;
}

#results-img {
  background-image: url(logo.png);  
  background-color: #57c4b2;
}
