@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital@1&family=Poppins&family=Raleway:wght@200&display=swap');

body {
    margin:0;
    margin-bottom:0px;
    background: black;
}

h1 {
	color: grey;
  font-size: 6rem;
  text-align: center;
  margin-block-end:0em;
  margin-block-start:40vh;
}

#me {
  font-family: 'Raleway', sans-serif;
}

#title {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  text-align: center;
  font-style:italic;
  margin-block-start:0em;
  color:#3176be;
}



.example::-webkit-scrollbar {
    display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#cvlink, #certlink, #intlink {
  font-size: 3em;
  margin-block-end: 0em;
  font-weight: 200em;
  font-family:'Lato', monospace; 
  }

a {
  text-decoration:none;
  color: orange;
  transition: 0.3s;
}



a:hover {
  color: grey;
}

footer {
  background-color: black;
  color: grey;
  width: 100%;
  margin: 0 !important;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


#footerbody {
  padding: 5px;
}

#cvdesc, #certdesc, #intdesc{
  font-size:2em;
  padding-right:2em;
  font-stretch:condensed;
  padding-left:2em;
  font-family: 'Lora', serif;
}

#fewlink, #tutlink, #inuxlink{
  font-size: 3em;
  margin-block-end: 0em;
  font-weight: 200em;
  font-family: "Lato", monospace;
  }


#fewdesc, #tutdesc, #inuxdesc{
  font-size:2em;
  padding-right:2em;
  font-stretch:condensed;
  /* font-family: 'Rubik', sans-serif; */
  padding-left:2em;
  font-family: 'Lora', serif;
}

#codeviolin, #fewproject, #cert, #tutorials, #integrity, #tutorinux {
  text-align: center;
}

td {
}

.lightgrey {
  background-color: #333;
}

.darkgrey {
  background-color: #222;
}

p {
	color: #ffffff;
}

table {
  border-spacing: 0px;
}

#top { 
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color:#373B44;
  background-image:url(/hex.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
 /* background-image: linear-gradient(-62deg, #1f3e6b 0%, #181719 100%);*/
  height:100vh;
}



.arrow{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #FDC830;
    border-right: 5px solid #FDC830;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
  }

@media (max-width: 740px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  td {
    border: none;
    position: relative;
    white-space: normal;
  }
}

@media (pointer: coarse) {
 #cvdesc, #fewdesc, #certdesc, #tutdesc, #intdesc, #inuxdesc {
    font-size: 5em;
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
  }
  #codeviolin, #cert, #integrity {
    background-color: #333333;
  }
  #fewproject, #tutorials, #tutorinux {
    background-color: #222222;
  }
  .arrow span{
    height: 40px;
    width: 40px;
  }
  #codeviolin, #fewproject, #cert, #tutorials, #integrity, #tutorinux {
    width: 100vw;
  }
  #me {
    font-size: 5em;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

  }
  #cvlink, #fewlink, #certlink, #tutlink, #intlink, #inuxlink {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 10vw;
  }
  #title {
    font-size: 4.5em;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  }
    #h1 {
  }
  footer {
    font-size: 20px;
    height: 15vh;
  }
  #ccimage {
    height: 5vh;
  }
}

