<!DOCTYPE html>
<html>
  <head>
    <title>project</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/work/template/stylestemplate.css">

    <meta charset="utf-8" />
  </head>
  <body id="fadebody">
<div class="context-menu" id="contextMenu" style="display:none;">
      <ul>
        <a href="#"><li><img src="/assets/homeicon.png">home</li></a>
        <a href="#about"><li><img src="/assets/questionicon.png">about</li></a>
        <a href="#work"><li><img src="/assets/folioicon.png">projects</li></a>
        <a href="#services"><li><img src="/assets/servicesicon.png">services</li></a>
        <a href="#contact"><li><img src="/assets/contacticon.png">contact</li></a>

      </ul>
    </div>

    <div class="cursor" id="cursor"></div>
    <noscript>
      <style>
        * { cursor: default; }
        </style>
    </noscript>
    <section class="header" id="name">
      <p class="summary">unbiased political analysis</p>
      <h1>Politicize</h1>
<div id="mouse-scroll">
  <div class="mouse">
    <div class="mouse-in"></div>
  </div>
  <div>
      <span class="down-arrow-1"></span>
      <span class="down-arrow-2"></span>
      <span class="down-arrow-3"></span>
   </div>
</div>

    </section>
    <section class="body-section" id="case-study">
    <table class="left-info">
      <tr>
        <td>
          <h2>Challenge</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </td>
        <td id="challenge-img"></td>
      </tr>
    </table>
    </section>
    <section class="body-section" id="role">
    <table class="right-info">
      <tr>
        <td id="role-img"></td>
        <td>
          <h2>Role</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </td>
      </tr>
    </table>

    </section>
    <section class="body-section" id="learnmore">
    <table class="left-info">
      <tr>
        <td>
          <h2>Results</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </td>
        <td id="results-img"></td>
      </tr>
    </table>

    </section>
        <script>
      window.addEventListener('load', function() {
        document.getElementById("fadebody").style.opacity = 1;
      });
      </script>
    <script src="/assets/cursor.js"></script>
    <script src="/assets/rightclick.js"></script>
  </body>
</html>
