#challenge-img {
  background-image: url(/assets/abstractimg.png);
}

#role-img {
  background-image: url(/assets/code.png);
}

#role-img-2 {
  background-image: url(/assets/code.png);

}

#results-img {
  background-image: url(/assets/abscissa.png);
}
