#challenge-img {
  background-image: url(tasksview.png);
  background-color: #355c7d;
}

#role-img {
  background-image: url(logo.png);
  background-color: #355c7d;
}

#role-img-2 {
  background-image: url(logo.png);
  background-color: #355c7d;
}

#results-img {
  background-image: url(notesview.png);
  background-color: #355c7d;

}
