#challenge-img {
  background-image: url(news.png);
  background-color: #355c7d;
}

#role-img {
  background-image: url(code.png);
  background-color: #355c7d;
}

#role-img-2 {
  background-image: url(code.png);
  background-color: #355c7d;
}

#results-img {
  background-image: url(website.png);
  background-color: #355c7d;
}
